{% extends 'base.html' %}
{% block title%}Blogs{% endblock title%}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}
<main role="main">
  <div class="overflow-hidden text-center text-white bg-dark">
    <div class="col-md-5 p-lg-5 mx-auto my-1">
      <h4 class="display-5 font-italic">Your Blogs</h4>
      <p class="">All your Blogs are listed below. Also you can add new blogs</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div><br>
  {% for post in allPosts %}
  <div class="container-fluid ">
    <div class="jumbotron p-3 p-md-5 text-black rounded bg-light">
      <div class="col-md-6 px-0">
        <h3 class="display-5 font-italic">{{post.title}}
          <p class="lead my-2">{{post.content|truncatechars:50}}...</p>
          <p class="lead my-2">Article by {{post.author}}</p>
          <p class="lead my-2">{{post.timestamp}}</p>
          <p class="lead mb-0"><a href="/blog/{{post.slug}}" class="text-black font-weight-bold">Continue
              reading...</a> 
      </div>
    </div>

  </div>
  {% endfor %}
  <nav class="blog-pagination container-fluid">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-primary float-right " href="#" tabindex="-1" aria-disabled="true">Newer</a>
  </nav><br>
</main>
{% endblock body %}